.course-form-page {
    display: flex;
    flex-direction: column;
    padding: 32px 100px;
    align-items: center;
}

.course-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.course-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.wyl-label-container {
    display: flex;
    flex-direction: column;
}

.wyl-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.form-p {
    /* font-style: italic; */
    margin: 0 0 10px 0;
}

.course-input {
    height: 60px;
    width: 400px
}

.course-heading {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.course-price-input {
    width: 440px;
    font-size: 1.2rem;
}

.price-input {
    height: 60px;
    width: 390px;
}

input::file-selector-button {
    color: white;
    background-color: #3d3c3c;
    border: 1px solid #3d3c3c;
    padding: 5px 10px;
}

input::file-selector-button:hover {
    cursor: pointer;
    background-color: #0000008a;
}

.category-group-label {
    margin-top: 0;
    margin-bottom: 10px;
}

.category-container {
    height: 50px;
    display: flex;
    align-items: center;
}

.category-input {
    margin-right: 1.1rem;
    cursor: pointer;
    transform: scale(1.25);
}

.category-label {
    font-size: 1.1rem;
}
