.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8rem 2.4rem;
}

.auth-header {
    font-size: 1rem;
    width: 400px;
    padding-top: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.purple-text {
    color: #5624d0;
    font-weight: bold;
    text-decoration: underline;
}

.purple-text:hover {
    color: #4a20b7;
}

.auth-div {
    width: 400px;
    height: 50px;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

/* .auth-icon {
    margin-right: 20px;
    font-size: 2rem;
} */

.auth-input {
    height: 60px;
}

.demo-prompt {
    margin: 20px 0;
}

.auth-line {
    width: 400px;
    height: 1px;
}
